test.py
test1.py
output/
output*
dataset/
__pycache__/
codes/COMPrompter/fin*
codes/COMPrompter/data
codes/AdaBoost/gt/
codes/ConvCRF/data/
codes/ConvCRF/full_crf_output
codes/ConvCRF/conv_crf_output
codes/ConvCRF/COMprompter
codes/ConvCRF/adaboost
codes/ConvCRF/test_output
codes/Only_CRF/Only_CRF
codes/ZoomNeXt/eval*
codes/ZoomNeXt/probs
codes/COMPrompter/work_dir_cod
